section.contacts  
  .container.contacts__content 
    .contacts__info
      .contacts__head
        .contacts__head-badge-left.title-badge.title-badge--blue #команда
        .contacts__head-badge-right.title-badge.title-badge--outline-blue #трудоустройство
        h2.contacts__title.h2 контакты
      .contacts__manager
        .contacts__manager-name Ивлиева Евгения
        .contacts__manager-desc к.б.н., менеджер направления "Поколение ЦЕМЕНТУМ"
        a.contacts__manager-link(href="tel:+79857616824") 
          span 
            +svg(24, 24, 'tel')
          | + 7 (985) 761-68-24
        a.contacts__manager-link(href="mailto:evgenia.ivlieva@cementum.ru") 
          span 
            +svg(24, 24, 'mail')
          | evgenia.ivlieva@cementum.ru
    picture.contacts__img 
      img(src="./img/contacts/img.jpg", alt="")
    
  