section.banner 
  .banner__inner 
    picture.banner__img 
      source(srcset="img/banner.webp" type="image/webp")
      img(src="img/banner.jpg", alt="")
    .banner__info
      h2.banner__title.h2 приходи <br> к&nbsp;нам на&nbsp;стажировку
      .banner__desc 
        p и получи реальный профессиональный опыт в компании с международной экспертизой.
        p Мы гарантируем настоящее погружение в профессию, всестороннее обучение и серьёзные задачи, а внимательные наставники-эксперты всегда будут рядом. 