section.final 
  .container 
    .final__head  
      .final__head-badge-left.title-badge #компания
      .final__head-badge-right.title-badge.title-badge--outline #опыт
      .final__title.h2 ПОСЛЕ СТАЖИРОВКИ
    .final__content 
      .final__img 
        img(src="./img/final/final.jpg", alt="")
      .final__advantages 
        .final__advantages-item 
          .final__advantages-item-num 01
          .final__advantages-item-title Ты сотрудник компании
          .final__advantages-item-desc Мы ценим талантливых и амбициозных стажёров, которые стремятся к профессиональному росту и развитию и ты можешь стать частью компании Цементум и получить предложение о трудоустройстве при наличии открытой вакансии.
        .final__advantages-item 
          .final__advantages-item-num 02
          .final__advantages-item-title Это был хороший опыт
          .final__advantages-item-desc Иногда нужно сделать шаг назад, чтобы сделать 2 шага вперёд. Терпение, настойчивость и готовность извлекать уроки из любого опыта — вот ключевые качества, которые помогут студенту добиться успеха в будущем. Полученный опыт всегда ценен, и он непременно принесёт свои плоды в дальнейшем.