section.diary 
  .container 
    .diary__top
      .diary__heading
        h2.diary__title.h2 дневники <br> успеха стажеров
      .diary__slider-nav.slider-control 
        button(type="button").slider-control-btn.js-diary-slider-prev
          +svg(16, 8, 'slider-arrow-left') 
        button(type="button").slider-control-btn.js-diary-slider-next
          +svg(16, 8, 'slider-arrow-right') 
    .diary__list.js-diary-slider 
      .swiper-wrapper 
        .diary__item.swiper-slide 
          picture.diary__item-img 
            img(src="./img/diary/img-01.png", alt="")
          .diary__item-info 
            .diary__item-title Никита Нифаев
            .diary__item-quote «Я ещё студент, но уже работаю по специальности — это успех!»
            .diary__item-desc Студент пятого курса Петрозаводского государственного 
              | университета. Учится по специальности горное дело и уже трудится 
              | на карьере «Шокшинский кварцит» в должности начальника смены.
            a(href="#").diary__item-btn.btn.btn--wide.btn--round Читать далее
        .diary__item.swiper-slide 
          picture.diary__item-img 
            img(src="./img/diary/img-01.png", alt="")
          .diary__item-info 
            .diary__item-title Никита Нифаев
            .diary__item-quote «Я ещё студент, но уже работаю по специальности — это успех!»
            .diary__item-desc Студент пятого курса Петрозаводского государственного 
              | университета. Учится по специальности горное дело и уже трудится 
              | на карьере «Шокшинский кварцит» в должности начальника смены.
            a(href="#").diary__item-btn.btn.btn--wide.btn--round Читать далее