.modal.js-modal(data-modal="documents")
  .modal__overlay.js-modal-overlay 
  .documents
    .modal__close.js-modal-close
      +svg(17, 17, 'close')
    .documents__title.h3 дневники <br> успеха стажеров
    .documents__list 
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Алексей Семенов
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Анастасия Старилова
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Валерия Гришнова
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Виктор Маркин
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Евгений Бабин
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Илья Родионов
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Илья Самосвалов
      a(href="#").documents__item 
        .documents__item-icon 
          img(src="./img/icons/document.png", alt="")
        .documents__item-name Мария Бевз
