@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Regular.woff') format('woff'), url('../fonts/GraphikLCG-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Medium.woff') format('woff'), url('../fonts/GraphikLCG-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Semibold.woff') format('woff'), url('../fonts/GraphikLCG-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GraphikLCG';
  src: url('../fonts/GraphikLCG-Bold.woff') format('woff'), url('../fonts/GraphikLCG-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}