section.about 
  .container 
    .about__head 
      .about__head-badge-left.title-badge #команда
      .about__head-badge-right.title-badge.title-badge--outline #трудоустройство
      h2.about__title.h2 стажировка <br> в цементум это:
    .about__list 
      .about__item
        .about__card 
          .about__card-title Новые задачи
          .about__card-desc Вас ждут новые и интересные задачи, которые 
            | помогут вам расширить свои знания и применить их на практике. 
            | Это уникальная возможность погрузиться в профессиональную среду, 
            | где каждый день приносит новые вызовы и возможности для роста.
      .about__item
        .about__card 
          .about__card-title Обучение и развитие
          .about__card-desc Стажировка в Цементум — это отличная возможность для личного 
            | и профессионального развития. Весть период стажировке наполнен обучением, 
            | новыми знаниями и навыками, которые помогают стажёрам раскрыть их потенциал.
      .about__item.about__item--xl.about__item--img-left
        picture.about__item-img 
          img(src="./img/about/img-01.png", alt="")
        .about__card 
          .about__card-title Возможность трудоустройства
          .about__card-desc Прохождение стажировки в Цементум — это 
            | не только ценный опыт работы, но и возможность 
            | получить предложение постоянной работы в компании.
      .about__item.about__item--xl.about__item--img-right
        picture.about__item-img 
            img(src="./img/about/img-02.png", alt="")
        .about__card 
          .about__card-title Конкурентная заработная плата
          .about__card-desc Компания Цементум высоко ценит вклад стажёров 
            | в развитие компании и старается мотивировать сотрудников 
            | для достижения высоких результатов.
      .about__item
        .about__card 
          .about__card-title Профессиональная команда
          .about__card-desc Ваша стажировка будет проходить в команде 
            | профессиональных и опытных специалистов. У каждого стажёра будет наставник, 
            | готовый поделиться своей экспертизой, рассказать о тонкостях профессии, 
            | помочь в освоении новых навыков и поддержать в процессе обучения.
      .about__item
        .about__card 
          .about__card-title Безопасные условия труда
          .about__card-desc Мы придаем большое значение здоровью и 
            | благополучию наших сотрудников, и поэтому строго соблюдаем 
            | все стандарты и правила безопасности.