section.hero 
  
    .hero__inner
      picture.hero__img 
        source(srcset="./img/hero/hero.webp" type="image/webp")
        img(src="./img/hero/hero.png", alt="")
      .hero__info 
        .container 
          h1.hero__title.h1 Твой успешный карьерный старт в Цементум
          .hero__desc Узнай, как стать частью нашей команды и реализовать себя в профессии
      button(type="button" data-modal="order").hero__btn.btn.btn--xl.btn--wide.js-modal-open 
        span Подать заявку
        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8.90392 6.60632V8.22648L17.6195 8.23222L6.0313 19.8204L7.18035 20.9694L18.7685 9.38127L18.7742 18.0968L20.3944 18.0968V6.60632H8.90392Z" fill="#272727"/>
        </svg>